.maioFooter {
  font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-radius: 4px;
    opacity: 90%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 34px;
    background-color: darkolivegreen;
    background-color: #C2571A;
    background-color: #DA621E;
    background-color: #107896;
    background-color: #3C6478;
    color: lightyellow;
    color: #dedede;
    z-index: 999;
  
  }
  .maioFooter a {
  color: #ffffff;
  text-decoration-line: none;
  }
  
  
  #maioFooterToggle {
  font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 18px;
  position: absolute;
  margin-left: auto;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  
  }
  #maioContainer {
    /*display: inline;*/
    display: table;
    min-height: 34px;
    padding-left: 4px;
  }
  #maioContainer span {
    display: table-cell;
    vertical-align: middle;
  }
  #maioFolderInfo {
    padding-left: 4px;
    padding-right: 12px;
  }
  
  .maioButton {
    background-color: transparent;
    border: solid 1px #dedede;
    border-radius: 6px;
    color: #dedede;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 4px 6px;
    cursor: pointer;
    outline: none;
    margin: 0 8px 0 0;
  }
  
  .maioButton:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #000;
  }
  
  .maioButton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
  }
  
  .maioButton:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
  }
  
  .maioButton:focus {
  outline: 1px transparent;
  }
  
  .maioButton:before {
  display: none;
  }
  
  .maioButton:-webkit-details-marker {
  display: none;
  }

.maioSeparator {
  padding-right: 8px;
  font-weight: 700;
  color: #FFF;
}

.maioCircle {
  width: 20px;
  height: 20px;
  line-height: 20px !important;
  border-radius: 50%;
  color: #3C6478;
  text-align: center;
  background: #fff;
  font-weight: 900 !important;
}
  
.maioDynamicPrice {
  background-color: lightgreen;
}
.maioPriceOverlay {
  position: fixed;
  text-align: center;
  background-color: lightgreen;
  border-radius: 10px;
  font-size: 14px;
  line-height: normal;
  padding: 16px;
  text-align: left;
  opacity: 0;
  transition: opacity .2s ease-out;
  z-index: auto;
}
.maioPriceOverlayClose {
  cursor: pointer;
  position: absolute;
  right: 16px;
  bottom: 12px;
  font-weight: 900;
}

  .miloBlockInfo {
  
  }
